/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --dark-bc: #000028;
  --main-fonts: "IBM Plex Mono";
  --dec-cl: #ff0070;
  --dec-font-size: 18px;
  --dec-line-hg: 25px;
  --dec-color-br: #ff0070;
  --font-size-text: 18px;
  --color-tx-button: #ff0070;
  --bottom-line-hg: 18px;
  --outline-button-active: #ff0070;
  --outline-button-hover: #ff007066;
  --color-h1: #db00ff;
  --text-shadow-h1: #ff0070;
  --line-height-h1: 83%;
  --line-height-p: 23.4px;
  --line-height-h2: 23.4px;
  --bc-h2: #ff0070;
  --font-size-h2: 18px;
  --color-h2-bc: #000028;
  --color-h2: #ff0070;
  --color-p: #f1b2ce;
  --color-p-bc: #000028;
  --bc-p: #ff0070;
  --text-link: #F1B2CE;
  --text-sh-link: #ff0070;
}
