/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --current-bg: var(--dark-bg);
  --main-bc: #000028;
  --dec-cl: #ff0070;
  --dec-color-br: #ff0070;
  --color-tx-button: #ff0070;
  --outline-button-active: #ff0070;
  --outline-button-hover: #ff007066;
  --color-main-title: #db00ff;
  --text-shadow-main-title: #ff0070;
  --bc-title: #ff0070;
  --color-title-bc: #000028;
  --color-title: #ff0070;
  --color-p: #f1b2ce;
  --color-p-bc: #000028;
  --bc-p: #ff0070;
  --text-link: #f1b2ce;
  --text-sh-link: #ff0070;
}
