/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.decorative-rec {
  display: none;
}

:root.theme-light {
  --current-bg: var(--light-bg);
  --main-bc: #fff1f7;
  --dec-color-br: #353430;
  --color-tx-button: #353430;
  --outline-button-active: #353430;
  --outline-button-hover: #32312d66;
  --color-main-title: #ffc2e6;
  --text-shadow-main-title: #ff8dcb;
  --color-title-bc: #353430;
  --color-title: #353430;
  --bc-title: #ff8dcb;
  --color-p: #353430;
  --color-p-bc: #353430;
  --bc-p: #ff8dcb;
  --text-sh-link: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --current-bg: var(--light-bg);
    --dec-color-br: #353430;
    --main-bc: #fff1f7;
    --color-tx-button: #353430;
    --outline-button-active: #353430;
    --outline-button-hover: #32312d66;
    --color-main-title: #ffc2e6;
    --text-shadow-main-title: #ff8dcb;
    --color-title-bc: #353430;
    --color-title: #353430;
    --bc-title: #ff8dcb;
    --color-p: #353430;
    --color-p-bc: #353430;
    --bc-p: #ff8dcb;
    --text-sh-link: #353430;
  }
}
