*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-bg: url("/images/cover-image-light.png"); /* Путь к светлому фону */
  --dark-bg: url("/images/cover-image-dark.png"); /* Путь к тёмному фону */
  --current-bg: var(--dark-bg); /* Текущая тема по умолчанию */
}

.page {
  background-image: var(--current-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--dark-bc);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
  max-width: 1024px;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-self: auto;
  align-self: auto;
  position: relative;
  margin-block-end: 60px;
}

.decorative-rec {
  position: absolute;
  order: -1;
  top: 20px;
  right: 8px;
  font-family: var(--main-fonts), "Roboto Mono", Consolas, Menlo;
  font-weight: 400;
  font-size: var(--dec-font-size);
  line-height: var(--dec-line-hg);
  text-transform: uppercase;
  text-align: center;
  color: var(--dec-cl);
}

.decorative-rec::after {
  content: "•";
  margin-left: 10px;
  display: inline-block;
  transform: scale(3);
}

.corner {
  order: -1;
}
.corner::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--dec-color-br);
  border-right: 1px solid var(--dec-color-br);
}

.corner::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--dec-color-br);
  border-left: 1px solid var(--dec-color-br);
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 1 / 3;
  justify-self: center;
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 4px;
  font-family: var(--main-fonts), "Roboto Mono", Consolas, Menlo;
  color: var(--color-tx-button);
  text-transform: lowercase;
  font-size: var(--font-size-text);
  line-height: var(--bottom-line-hg);
  font-weight: 400;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--outline-button-active);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header_heading {
  grid-row: 2;
  grid-column: 1 / 3;
  align-items: center;
  margin-inline-start: -10px;
}

.heading {
  font-family: var(--main-fonts), "Roboto Mono", Consolas, Menlo;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: bold;
  color: var(--color-h1);
  align-items: center;
  text-shadow: 4px 4px 0 var(--text-shadow-h1);
  line-height: var(--line-height-h1);
  margin: inherit;
}

.header_heading-text {
  grid-row: 3;
  grid-column: 2 / 3;
  justify-self: end; /* Только для этого элемента */
  line-height: var(--line-height-p);
  align-self: center;
  padding-block-end: 58px;
}

.header_content_heading {
  display: grid;
  background-color: var(--bc-h2);
  grid-template-columns: auto;
  color: var(--color-h2-bc);
  font-family: var(--main-fonts), "Roboto Mono", Consolas, Menlo;
  font-weight: bold;
  font-size: var(--font-size-h2);
}

.focus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-block-end: 80px;
}

.grid_item_focus {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.grid_item_multitasking {
  grid-column: 2 / 4; /* Занимает вторую колонку */
  grid-row: 1 / 2;
}

.grid_item_dopamine {
  grid-column: 2 / 4; /* Все равно во второй колонке */
  grid-row: 2 / 3; /* Но начинается со второй строки */
}

.heading_content {
  font-family: var(--main-fonts), "Roboto Mono", Consolas, Menlo;
  font-weight: bold;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  color: var(--color-h2);
}

.heading_content_pink {
  background-color: var(--bc-h2);
  color: var(--color-h2-bc);
}

.text_content {
  color: var(--color-p);
  font-family: var(--main-fonts), "Roboto Mono", Consolas, Menlo;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: var(--line-height-p);
  margin-block-start: 10px;
}

.concentration {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: 80px;
}

.grid_item_concentration {
  grid-column: 1 / 2;
}

.grid_item_more {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid_item_food {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid_item_gadgets {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.text_content_pink {
  background-color: var(--bc-p);
  color: var(--color-p-bc);
  margin-block-start: 0;
}

.recommendations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-block-end: 80px;
}

.grid_item_recommendations {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
}

.grid_item_recommendations_list {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding-inline-start: 6px;
}

.grid_item_recommendations_meditation {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  padding-inline-start: 6px;
}

.grid_item_recommendations_music {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  padding-inline-start: 6px;
}

.grid_item_recommendations_walk {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  padding-inline-start: 6px;
}

.grid_item_recommendations_food {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  padding-inline-start: 6px;
}

.grid_item_recommendations_read {
  grid-column: 2 / 4;
  grid-row: 6 / 7;
  padding-inline-start: 6px;
}

.section_images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-block-end: 60px;
}

.heading_images {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.images_sunset {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images_ice-cream {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images_tape {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images_books {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: 100%;
  object-fit: cover;
}

.images_street {
  width: 100%;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  height: 100%;
  object-fit: cover;
}

.grid_item_footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.heading_footer {
  grid-row: 2 / 3;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.text_link {
  position: relative; /* Оставляем относительное позиционирование */
  display: inline-block;
  color: var(--text-link);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-sh-link);
  border-bottom: 1px solid transparent; /* Прозрачная нижняя граница */
}

.text_link:hover {
  border-bottom-color: currentColor; /* Подчёркиваем цветом при наведении */
}

.text_link:focus {
  outline: none;
  box-shadow: 0 0 0 1px currentColor;
}

@media (max-width: 375px) {
  .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (max-width: 768px) {
  .header__theme-menu {
    grid-row: 1;
    grid-column: 1 / 3;
    justify-self: end;
    align-self: center;
    margin-block-start: 0;
  }
  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: row;
  }
  .grid_item_more {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .grid_item_food {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
  .grid_item_gadgets {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 375px) {
  .page {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
  }
  .header {
    margin-block-end: 40px;
  }
  .header_heading {
    margin-inline-start: 0px;
  }
  .header_heading-text {
    grid-column: 1 / -1;
    padding-block-end: 40px;
  }
  .header__theme-menu-list {
    gap: 10px;
    padding-block-start: 10px;
  }
  .decorative-rec {
    top: 10px;
  }
  .corner::before {
    top: 10px;
  }
  .corner::after {
    bottom: 10px;
  }

  .focus {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }
  .grid_item_focus {
    grid-row: 1;
    grid-column: 1;
  }
  .grid_item_multitasking {
    grid-row: 2;
    grid-column: 1;
  }
  .grid_item_dopamine {
    grid-row: 3;
    grid-column: 1;
  }
  .concentration {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }

  .recommendations {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }

  .grid_item_recommendations {
    grid-column: 1;
    grid-row: 1;
  }

  .grid_item_recommendations_list {
    grid-column: 1;
    grid-row: 2;
    padding-inline-start: 0px;
  }

  .grid_item_recommendations_meditation {
    grid-column: 1;
    grid-row: 3;
    padding-inline-start: 0px;
  }

  .grid_item_recommendations_music {
    grid-column: 1;
    grid-row: 4;
    padding-inline-start: 0px;
  }

  .grid_item_recommendations_walk {
    grid-column: 1;
    grid-row: 5;
    padding-inline-start: 0px;
  }

  .grid_item_recommendations_food {
    grid-column: 1;
    grid-row: 6;
    padding-inline-start: 0px;
  }

  .grid_item_recommendations_read {
    grid-column: 1;
    grid-row: 7;
    padding-inline-start: 0px;
  }

  .section_images {
    grid-template-columns: 1fr;
    margin-block-end: 40px;
    gap: 10px;
  }

  .heading_images {
    grid-column: 1;
    grid-row: 1;
  }

  .images_sunset {
    grid-column: 1;
    grid-row: 2;
  }

  .images_ice-cream {
    grid-column: 1;
    grid-row: 3;
  }

  .images_tape {
    grid-column: 1;
    grid-row: 4;
  }

  .images_books {
    grid-column: 1;
    grid-row: 5;
  }

  .images_street {
    grid-column: 1;
    grid-row: 6;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --current-bg: var(--light-bg);
  }
}
