* {
  margin: 0;
  padding: 0;
}

.page {
  background-image: var(--current-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--main-bc);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-self: auto;
  align-self: auto;
  position: relative;
  margin-block-end: 60px;
}

.decorative-rec {
  display: var(--hidden-element);
  position: absolute;
  order: -1;
  top: 20px;
  right: 8px;
  font-family: "IBM Plex Mono", "Roboto Mono", Consolas, Menlo;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dec-cl);
}

.decorative-rec::after {
  content: "•";
  margin-left: 10px;
  display: inline-block;
  transform: scale(3);
}

.decorated-zone {
  order: -1;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--dec-color-br);
  border-right: 1px solid var(--dec-color-br);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--dec-color-br);
  border-left: 1px solid var(--dec-color-br);
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 1 / 3;
  justify-self: center;
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}

.header__theme-menu-button {
  background-color: transparent;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 4px;
  font-family: "IBM Plex Mono", "Roboto Mono", Consolas, Menlo;
  color: var(--color-tx-button);
  text-transform: lowercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--outline-button-active);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.heading {
  grid-row: 2;
  grid-column: 1 / 3;
  align-items: center;
  margin-inline-start: -20px;
  font-family: "IBM Plex Mono", "Roboto Mono", Consolas, Menlo;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: bold;
  color: var(--color-main-title);
  text-shadow: 4px 4px 0 var(--text-shadow-main-title);
  line-height: 83%;
}

.header_content_heading {
  grid-row: 3;
  grid-column: 2 / 3;
  justify-self: end; /* Только для этого элемента */
  line-height: 23.4px;
  align-self: center;
  margin-block-end: 20px;
  background-color: var(--bc-title);
  color: var(--color-title-bc);
  font-family: "IBM Plex Mono", "Roboto Mono", Consolas, Menlo;
  font-weight: bold;
  font-size: 18px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-block-end: 80px;
}

.grid_item_focus {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.grid_item_multi,
.section_focus {
  grid-column: 2 / 4;
  grid-row: auto;
}

.heading_content {
  font-family: "IBM Plex Mono", "Roboto Mono", Consolas, Menlo;
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-title);
}

.heading_content_pink {
  background-color: var(--bc-title);
  color: var(--color-title-bc);
}

.text_content {
  color: var(--color-p);
  font-family: "IBM Plex Mono", "Roboto Mono", Consolas, Menlo;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-start: 10px;
}

.grid_item_concentration {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  max-inline-size: 30%;
}

.grid_item_var,
.section_concentration {
  grid-column: auto; /* Автоматическое присвоение колонок */
  grid-row: auto; /* Автоматическое назначение строк */
}

.text_content_pink {
  background-color: var(--bc-p);
  color: var(--color-p-bc);
  margin-block-start: 0;
}

.grid_item_recommendations {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.grid_item_recommendations_list,
.section_recommendations {
  grid-column: 2 / 4; /* Вторая и третья колонки */
  grid-row: auto;
}
.recommendations_list {
  grid-row: 1;
  grid-column: 2 / 4;
}
.heading_content_pink_normal {
  font-weight: normal;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_images {
  margin-block-end: 60px;
}

.heading_images {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.images_sunset {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.images_ice-cream {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.images_tape {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.images_books {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.images_street {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.grid_item_footer {
  display: grid;
  height: 100vh;
  min-block-size: 668px;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.heading_footer {
  grid-row: 2 / 3;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  margin-inline-start: 0px;
}

.text_link {
  position: relative; /* Оставляем относительное позиционирование */
  display: inline-block;
  color: var(--text-link);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-sh-link);
  border-bottom: 1px solid transparent;
}

.text_link:hover {
  border-bottom-color: var(--link-color);
}

.text_link:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--link-color);
}

@media (max-width: 900px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
  .header__theme-menu-list {
    grid-auto-flow: row;
    gap: 12px;
  }
  .grid_item_multi {
    margin-inline-start: 6px;
  }

  .grid_item_concentration,
  .grid_item_var {
    grid-column: 1 / -1;
    grid-row: auto;
  }
  .grid_item_recommendations_list,
  .recommendations_list {
    margin-inline-start: 6px;
  }
}

@media (max-width: 600px) {
  .page {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
  }
  .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0px;
  }
  .header {
    margin-block-end: 40px;
  }
  .header_heading {
    margin-inline-start: 0px;
  }
  .header_content_heading {
    grid-column: 1 / -1;
    margin-block-end: 12px;
  }
  .header__theme-menu {
    margin-block-start: 0px;
  }
  .header__theme-menu-list {
    gap: 10px;
    padding-block-start: 10px;
  }
  .decorative-rec {
    top: 10px;
  }
  .decorated-zone::before {
    top: 10px;
  }
  .decorated-zone::after {
    bottom: 10px;
  }

  .section {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }

  .grid_item_focus {
    grid-row: 1 / 2;
    grid-column: 1;
  }

  .section_focus {
    grid-column: 1;
    grid-row: auto;
  }

  .grid_item_multi {
    grid-row: auto;
    grid-column: 1 / -1;
    margin-inline-start: 0px;
  }

  .grid_item_concentration {
    max-inline-size: 100%;
  }

  .recommendations {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }

  .grid_item_recommendations {
    grid-column: 1;
    grid-row: 1 / -1;
  }
  .recommendations_list {
    grid-column: 1;
    grid-row: auto;
    margin-inline-start: 0px;
  }

  .grid_item_recommendations_list,
  .section_recommendations {
    grid-column: 1;
    grid-row: auto;
    margin-inline-start: 0px;
  }

  .section_images {
    grid-template-columns: 1fr;
    margin-block-end: 40px;
    gap: 10px;
  }

  .heading_images {
    grid-column: 1;
    grid-row: 1;
  }

  .images_sunset {
    grid-column: 1;
    grid-row: 2;
  }

  .images_ice-cream {
    grid-column: 1;
    grid-row: 3;
  }

  .images_tape {
    grid-column: 1;
    grid-row: 4;
  }

  .images_books {
    grid-column: 1;
    grid-row: 5;
  }

  .images_street {
    grid-column: 1;
    grid-row: 6;
  }
}
