/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --dark-bc: #000028;
  --dec-cl: #ff0070;
  --dec-color-br: #ff0070;
  --color-tx-button: #ff0070;
  --outline-button-active: #ff0070;
  --outline-button-hover: #ff007066;
  --color-h1: #db00ff;
  --text-shadow-h1: #ff0070;
  --bc-h2: #ff0070;
  --color-h2-bc: #000028;
  --color-h2: #ff0070;
  --color-p: #f1b2ce;
  --color-p-bc: #000028;
  --bc-p: #ff0070;
  --text-link: #f1b2ce;
  --text-sh-link: #ff0070;
}
